<h2><%=l(:label_reqproimporter_start)%></h2>

<% form_tag({:action => 'listprojects'}, {:multipart => true}) do %>
  	<%= render :partial => "progress_bar" %><br/>
	<p><label><%=l(:label_reqproupload_notice)%></label><br/>
	<%= file_field_tag 'file', :size => 60%></p>

	<fieldset class="box"><legend><%= l(:label_checking_settings) %></legend>
		     <label><%= check_box_tag "deep_check_ext_projects", true, true %> <%= l(:label_deep_check_ext_projects) %> </label><br/>
	</fieldset>
	
	<%= submit_tag l(:button_upload) %>
<% end %>

