<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'reqproimporter', :plugin => 'redmine_import_reqpro' %>
<% end %>

<% if !flash[:error] %>
	<h2><% if @attributes_keys_sorted != nil %>
		<%= l(:label_match_attributes) %>
	<% else %>
		<%= l(:label_match_norpattributes) %>
	<% end %> (<%= @original_filename %>)</h2>
	<% form_tag({:action => 'do_import_and_result'}, {:multipart => true}) do %>
		<%= render :partial => "progress_bar" %><br/>
		<% if @attributes_keys_sorted != nil %>
			<h3><%= l(:label_used_attributes_headline) %></h3>
			<%= l(:label_matchattributes_select) %><br/>
			<br/>
			<table class="list">
				<thead class="text_left"><tr>
			    	<% @headers.each do |column| %>
			      		<th><%= l(column) %></th>
			    	<% end %>
				</tr></thead>
				<tbody>
					<% @attributes_keys_sorted.each do |col_key| %>
						<%column= @attributes_for_view[col_key]%>
				    	<%matched = ''
				          @attrs.each do |k| if k.to_s.casecmp(col_key.to_s) == 0 then matched = k end end
				        %>
				        <tr class="<%= cycle("odd", "even") %>">
						 	<td class="first_column_attribute"><%= column[:projects].to_a.join("/") %>.<%= column[:rtprefixes].to_a.join("/") %>.<%= col_key %>:</td>
						 	<td class="dropdown_column_attribute"><%= select_tag "fields_map_attribute[#{col_key}]", "<option value=\"\">#{l(:option_ignore)}</option>" + "<option value='#{col_key}'>+#{col_key}</option>" +
								options_for_select(@attrs, matched), :style => 'width: 200px;' %></td>
							<td>@<%= column[:datatypes] %>: <%= column[:itemtext].to_a.join(", ")%></td> 
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<%= l(:label_no_rpattributes) %><br/>
		<% end %>
		<br/>
		<h3><%= l(:label_issuerelations_import_settings_headline) %></h3>
		<fieldset class="box"><legend><%= l(:label_issuerelations_import_settings) %></legend>
			<label><%= check_box_tag "import_parent_relation_allowed", true, true %> <%= l(:label_import_parent_relation_allowed) %> </label><br/>
			<label><%= check_box_tag "import_internal_relation_allowed", true, true %> <%= l(:label_import_internal_relation_allowed) %> </label><br/>
			<label><%= check_box_tag "import_external_relation_allowed", true, true %> <%= l(:label_import_external_relation_allowed) %> </label><br/>
		</fieldset>
		<h3><%= l(:label_issue_import_settings_headline) %></h3>
		<fieldset class="box"><legend><%= l(:label_issue_import_settings) %></legend>
			<label><%= check_box_tag "issue_update_allowed", true, false %> <%= l(:label_issue_update_allowed) %> </label><br/>
		</fieldset>
		<%= submit_tag l(:button_start_import) %>
	<% end %>
<% end %>
<hr/>
