<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'rpbimporter', :plugin => 'import_reqpro' %>
<% end %>

<h2><%= l(:label_rpbimport_result) %></h2>
<%= render :partial => "progress_bar" %><br/>
<%= l(:label_result_projectse, :isuccess_count => (@import_results[:imported][:projects]), :usuccess_count => (@import_results[:updated][:projects]), :failed_count => (@import_results[:failed][:projects])) %><br/>
<%= l(:label_result_userse, :isuccess_count => (@import_results[:imported][:users]), :usuccess_count => (@import_results[:updated][:users]), :failed_count => (@import_results[:failed][:users])) %><br/>
<%= l(:label_result_issuese, :isuccess_count => (@import_results[:imported][:issues]), :usuccess_count => (@import_results[:updated][:issues]), :failed_count => (@import_results[:failed][:issues])) %><br/>
<%= l(:label_result_trackerse, :isuccess_count => (@import_results[:imported][:trackers]), :usuccess_count => (@import_results[:updated][:trackers]), :failed_count => (@import_results[:failed][:trackers])) %><br/>
<%= l(:label_result_attributese, :isuccess_count => (@import_results[:imported][:attributes]), :usuccess_count => (@import_results[:updated][:attributes]), :failed_count => (@import_results[:failed][:attributes])) %><br/>
<hr/>


