<h2><%=l(:label_rpbimporter_project_overview)%></h2>

<%= l(:label_importdescriptionfile, @original_filename) %>
<table class="list">
	<thead><tr>
	    <% @headers.each do |column| %>
	      <th><%= l(column) %></th>
	    <% end %>
	</tr></thead>
	<tbody>
	  <% @contents_of_projects.each do |project_content| %>
	    <tr class="<%= cycle("odd", "even") %>">
	      <% project_content.each do |column| %><td><%= column %></td><% end %>
	    </tr>
	  <% end %>
	  <tr class="<%= cycle("odd", "even") %>">
	    <% @headers.each do |column| %><td>...</td><% end %>
	  </tr>
	</tbody>
</table>
<%= l(:label_ext_prefix_description) %>

<% form_tag({:action => 'matchusers'}, {:multipart => true}) do %>
	<fieldset class="box"><legend><%= l(:label_users_checking_settings) %></legend>
	    <%= radio_button_tag "conflate_users", 'email', true %><%= l(:label_conflate_users_by_email) %><br/>
	    <%= radio_button_tag "conflate_users", 'login' %><%= l(:label_conflate_users_by_login) %><br/>
	    <%= radio_button_tag "conflate_users", 'name' %><%= l(:label_conflate_users_by_name) %><br/>
	</fieldset>
	
	<%= submit_tag l(:button_match_users) %>
<% end %>