<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'rpbimporter', :plugin => 'import_reqpro' %>
<% end %>

<h2><%= l(:label_match_users) %></h2>

<% form_tag({:action => 'matchtrackers'}, {:multipart => true}) do %>
	<legend><%= l(:label_matchusers_select) %></legend>
	<h3><%= l(:label_used_users) %></h3>
	<table class="list">
		<tbody>
			<% @rpusers_for_view.each_pair do |col_key,column| %>
				<%  matched = ''	
					@rmusers_for_view.each do |k|	if k.to_s.casecmp(col_key.to_s) == 0 then matched = k end	end 
				%>
				<tr class="<%= cycle("odd", "even") %>">
					<% if @conflate_users == "email" %>
					  <td><%= column[:projects].to_a.join("/") %>.<%= column[:logins].to_a.join("/") %></td>
					<% else %>
					  <td><%= column[:projects].to_a.join("/") %>.<%= column[:emails].to_a.join("/") %></td>
					<% end %>
					<td><%= col_key %></td>
					<td><%= select_tag "fields_map_user[#{col_key}]",
					  "<option value=\"\">#{l(:option_ignore)}</option>" + "<option value=#{col_key}>+#{col_key}</option>" +
					  options_for_select( @rmusers_for_view, matched ) %></td>
					<% if @conflate_users != "name" %>
					  <td><%= l(:label_names)%><%= column[:names].to_a.join("/") %></td>
					<% else %>
					  <td><%= l(:label_logins)%><%= column[:logins].to_a.join("/") %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<fieldset class="box"><legend><%= l(:label_req_type_checking_settings) %></legend>
		<label><%= check_box_tag "deep_check_req_types", true, true %> <%= l(:label_deep_check_req_types) %> </label><br/>
		<label><%= check_box_tag "conflate_req_types", true, true %> <%= l(:label_conflate_req_types) %> </label><br/>
	</fieldset>
	
	<%= submit_tag l(:button_matchtrackers) %><br/>
<% end %>

<hr/>
